<link rel="stylesheet" href="styles.css" />
<header>
    <nav class="navbar">
      <div class="logo"><a href="/">🩺 MediPrime</a></div>
      <button id="menu-toggle">☰</button>
      <ul class="nav-links">
        <li><a href="/findMedicine">Find Medicine</a></li>
        <li><a href="/report-issue">Report Issue</a></li>
        <li><a href="myreports">My Reports</a></li>
    <% if (user) { %>
  <li><a href="/logout">Logout</a></li>
<% } else { %>
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Sign Up</a></li>
<% } %>
</nav>

  </header>